@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
    font-family: "Nanum Gothic", sans-serif; font-size:13px; color:#666; margin:0 auto; 
}
img {border:none;}
* {margin:0; padding:0; box-sizing:border-box;}
h1,h2,h3,h4,h5,h6 {font-size:18px; font-weight:700; color:#000;}
ul, ol {list-style:none;}
a {text-decoration:none; color:#333;}
body {width:100%; height:100%;}
.float-l {float:left;}
.float-r {float:right;}
.over {overflow:hidden;}
.both {clear:both;}
.un {width:0; height:0; line-height:0; font-size:0;}
.none {border:0 none;}
.w1200 {width:1200px; margin:0 auto;}
.margin-b20 {margin-bottom:20px;}
.margin-b22 {margin-bottom:22px;}
.margin-b5 {margin-bottom:5px;}
.margin-r15 {margin-right:15px;}
.margin-b130 {margin-bottom:130px;}
.margin-t40 {margin-top:40px;}
.margin-r20 {margin-right:20px;}
.margin-t60 {margin-top:60px;}
.margin-t10 {margin-top:10px;}

/*메인*/

.top-bg {width:100%; height:5px; background:#006600;}
.top-menu {margin-right:20px; margin-top:10px;}
.top-menu li {margin-left:20px; font-size:14px;}
.top-menu li a {color:#666;}
.logo {margin-left:20px; margin-top:20px;}
header {height:85px; margin-bottom:px;}
.navi {font-size:18px; font-weight:700;}
.navi li {width:150px; text-align:center; margin-top:18px;}
.navi li a {transition:all 0.3s;}
.main-visual {/*background:url(../images/main-img.jpg) no-repeat center center;*/ width:100%; height:438px;}
.main-txt-box {background:url(../images/main-visbox.png) no-repeat center center; width:530px; height:232px; position:absolute; bottom:120px; left:0px; z-index:30;}
.main-txt-box li img {margin-top:80px; margin-left:50px; z-index:30;}
.main-con-bg {width:100%; background:#f1f7ef; height:100%; padding-top:25px; padding-bottom:130px;}
.main-cont1 {width:599px; height:289px; background:#fff; margin-right:25px;}
.main-cont2 {width:274px; height:289px; background:#fff; margin-right:25px;}
.main-cont3 {width:277px; height:289px; background:#fff; padding-right:20px;}
.cont1-01 {font-size:19px; font-weight:700; color:#333; margin-top:10px; margin-bottom:25px;}
.cont1-01 img {margin-left:20px; margin-right:5px; vertical-align:middle; margin-bottom:4px;}
.cont1-02 {margin-left:20px; font-size:16px; color:#333;}
.cont1-02 img {margin-right:8px; margin-bottom:3px;}
.cont1-03 {margin-left:32px; font-size:16px; color:#333;}
.cont1-box {width:299px; height:68px; background:#00a652; font-size:18px; text-align:center; line-height:22px; padding-top:11px;}
.cont1-box a, .cont1-box2 a {color:#fff;}
.cont1-box2 {width:300px; height:68px; background:#fa5006; font-size:18px; text-align:center; line-height:22px; padding-top:11px;}
.main-span1 {margin-left:12px;}
.cont2-01 {margin-left:20px; font-size:15px; color:#666;}
.cont3-01 {width:237px; height:92px; margin-left:20px;}
.cont3-02 {font-size:16px; font-weight:700; color:#333; margin-left:20px;}
.main-span2 {font-weight:400;}
.cont3-03 {font-size:14px; color:#666; margin-left:20px; margin-right:20px;}
.cont3-box {width:107px; height:20px; background:#fa5006; font-size:14px; text-align:center; line-height:20px; margin-top:10px; margin-right:20px; margin-left:150px;}
.cont3-box a {color:#fff;}
.main-cont4 {width:396px; height:290px; background:#fff; margin-right:25px; margin-top:25px;}
.main-cont4 a {color:#333;}
.main-cont5 {width:358px; height:290px; background:#fff; margin-top:25px; background:url(../images/cont5-bg.png) no-repeat center center; margin-bottom:25px;}
.main-cont5 a {color:#333;}
.cont5-01 {font-size:15px; color:#666; padding-left:20px; padding-right:20px;}
.cont-6 {background:url(../images/cont6-bg.png) no-repeat center center; width:100%; height:220px; }
.cont6-01 {margin-left:53px; padding-top:40px;}
.cont6-02 {margin-left:35px; font-size:40px; font-weight:700; color:#fff; line-height:55px;}
.cont6-span {font-size:43px;}
.cont6-03 {font-size:20px; font-weight:700; text-align:right; margin-right:35px;}
.cont6-03 a {color:#fff; border-bottom:1px solid #fff;}
.main-cont6 {width:421px; height:202px; background:#fff; margin-right:25px; margin-top:25px;}
.cont7-01 {margin-top:20px; margin-left:242px;}
.cont7-02 {margin-top:20px; margin-left:10px; margin-right:10px;}
.cont7-03 {margin-top:20px; margin-right:20px;}
.cont7-04 {margin-left:20px;}
.cont7-00 {font-size:19px; font-weight:700; color:#333; margin-top:10px; margin-bottom:18px;}
.cont7-00 img {margin-left:20px; margin-right:5px; vertical-align:middle; margin-bottom:4px;}
.main-cont8 {width:341px; height:202px; background:#fff; margin-right:25px; margin-top:25px;}
.main-cont9 {width:387px; height:202px; background:#fff; margin-top:25px;}
.cont8-01 {margin-left:20px; font-weight:700; font-size:22px; color:#333;}
.cont8-span {color:#cc0000;}
.cont8-span2 {font-size:14px; color:#666; margin-left:50px;}
.cont8-span {color:#cc0000;}
.cont8-02 {margin-right:20px; margin-left:20px; font-size:14px; color:#666; margin-top:5px;}
.cont8-03 {margin-right:20px; margin-left:20px; font-size:14px; color:#666; margin-top:5px;}



/*서브1*/

.sub1-visual {width:100%; height:185px; background:url(../images/sub1-visual.png) no-repeat center center;}
.sub-mainbox {background:url(../images/sub-box.png) no-repeat center center; height:70px; width:219px; text-align:center; background-size:cover;}
.sub1-visual div {padding-top:58px; padding-left:489px;}
.sub-maintxt {font-size:38px; color:#fff; font-weight:700; text-shadow:1px 1px 1px #000; line-height:70px;}
.sub-topbar {width:100%; height:40px; border-bottom:1px solid #d1d1d1;}
.sub-top01 {width:180px; height:40px; border-right:1px solid #d1d1d1; font-size:14px; color:#666; text-align:center; line-height:40px; font-weight:700;}
.sub-main-cont {width:920px; height:100%; padding-left:20px; padding-right:20px;}
.sub-main-cont h2 {font-size:36px; color:#333; margin-top:23px; font-weight:700;}
.sub-main-cont h3 img {vertical-align:bottom; margin-left:-3px;}
.sub-main-cont h3 {margin-top:43px; margin-bottom:40px; font-size:20px; color:#333; font-weight:700;}
.sub1-cont-img {margin-bottom:40px;}
.sub1-cont-txt {font-size:16px; color:#666; margin-bottom:130px; line-height:30px;}
.sub1-span1 {color:#cc3333; font-weight:700;}
.sub1-span2 {font-weight:700;}

.sub-menu-right {width:280px; height:100%;}
.sub-menu-right ul {width:280px;}
.menu-right01 {background:url(../images/sub-menu-right.png) no-repeat center center; width:280px; height:80px; font-size:20px; color:#fff; font-weight:700; text-align:center; line-height:80px;}
.menu-right02 {height:50px; border-bottom:1px solid #d1d1d1; border-left:1px solid #d1d1d1; border-right:1px solid #d1d1d1; text-align:center; font-size:18px; color:#333; line-height:50px;}


/*서브2*/

.sub2-visual {width:100%; height:185px; background:url(../images/sub2-visual.png) no-repeat center center;}
.sub-mainbox2 {background:url(../images/sub-box02.png) no-repeat center center; width:183px; height:70px; text-align:center;}
.sub2-visual div {padding-top:58px; padding-left:508px;}
.sub-maintxt {font-size:38px; color:#fff; font-weight:700; text-shadow:1px 1px 1px #000; line-height:70px;}
.sub-topbar {width:100%; height:40px; border-bottom:1px solid #d1d1d1;}
.sub-top01 {width:180px; height:40px; border-right:1px solid #d1d1d1; font-size:14px; color:#666; text-align:center; line-height:40px; font-weight:700;}
.sub-main-cont {width:920px; height:100%; padding-left:20px; padding-right:20px;}
.sub-main-cont h2 {font-size:36px; color:#333; margin-top:23px; font-weight:700;}
.sub-main-cont h3 img {vertical-align:bottom; margin-left:-3px;}
.sub-main-cont h3 {margin-top:43px; margin-bottom:40px; font-size:20px; color:#333; font-weight:700;}

.sub2-txt01 {font-size:18px; color:#333; margin-bottom:30px;}
.sub2-txt02 {margin-left:10px; font-size:16px; color:#666;}
.sub2-txt02 img {margin-right:10px; vertical-align:middle;}
.sub2-img01 {background:url(../images/sub2-img01.png) no-repeat center center; width:205px; height:162px; margin-top:30px; position:relative;}
.sub-bg2 {width:205px; height:30px; background:#000; opacity:.3; position:absolute; bottom:0;}
.sub-bgt {color:#fff; font-size:16px; font-weight:700; text-align:center; position:absolute; bottom:5px; left:66px;}

.sub2-img02 {background:url(../images/sub2-img02.png) no-repeat center center; width:205px; height:162px; margin-top:30px; position:relative; margin-left:20px;}
.sub-bgt2 {color:#fff; font-size:16px; font-weight:700; text-align:center; position:absolute; bottom:5px; left:80px;}

.sub2-img03 {background:url(../images/sub2-img03.png) no-repeat center center; width:205px; height:162px; margin-top:30px; position:relative; margin-left:20px;}

.sub2-img04 {background:url(../images/sub2-img04.png) no-repeat center center; width:205px; height:162px; margin-top:30px; position:relative; margin-left:20px;}
.sub-bgt3 {color:#fff; font-size:16px; font-weight:700; text-align:center; position:absolute; bottom:5px; left:49px;}


/*서브3*/

.sub3-visual {width:100%; height:185px; background:url(../images/sub3-visual.png) no-repeat center center;}
.sub-mainbox2 {background:url(../images/sub-box02.png) no-repeat center center; width:183px; height:70px; text-align:center;}
.sub3-visual div {padding-top:58px; padding-left:508px;}
.sub-maintxt {font-size:38px; color:#fff; font-weight:700; text-shadow:1px 1px 1px #000; line-height:70px;}
.sub-topbar {width:100%; height:40px; border-bottom:1px solid #d1d1d1;}
.sub-top01 {width:180px; height:40px; border-right:1px solid #d1d1d1; font-size:14px; color:#666; text-align:center; line-height:40px; font-weight:700;}
.sub-main-cont {width:920px; height:100%; padding-left:20px; padding-right:20px;}
.sub-main-cont h2 {font-size:36px; color:#333; margin-top:23px; font-weight:700;}
.sub-main-cont h3 img {vertical-align:bottom; margin-left:-3px;}
.sub-main-cont h3 {margin-top:43px; margin-bottom:40px; font-size:20px; color:#333; font-weight:700;}

.sub3-list01 {height:30px; font-size:14px; color:#333;}
.intro-list02 tr {height:30px; border-bottom:1px solid #d1d1d1; font-size:14px; color:#666;}
.sub3-list {border-top:1px solid #666; border-collapse: collapse; text-align:center; margin-bottom:60px;}
.sub3-tr01 {border-bottom:1px solid #d1d1d1; height:30px;}

/*서브4*/

.sub4-visual {width:100%; height:185px; background:url(../images/sub4-visual.png) no-repeat center center;}
.sub-mainbox {background:url(../images/sub-box.png) no-repeat center center; width:219px; height:70px; text-align:center; background-size:cover;}
.sub4-visual div {padding-top:58px; padding-left:489px;}
.sub4-txt01 {margin-left:10px; font-size:16px; color:#cc3333;}
.sub4-txt01 img {margin-right:10px; vertical-align:middle;}
.sub4-txt02 {margin-left:10px; font-size:16px; color:#ff9933;}
.sub4-txt02 img {margin-right:10px; vertical-align:middle;}
.sub4-span1 {color:#cc3333;}
.sub4-span2 {font-size:14px; color:#ff9933; font-weight:700;}
.sub4-span3 {margin-left:30px; font-size:14px; font-weight:700; color:#cc3333;}
.sub4-span4 {margin-left:25px;}
.sub4-span5 {font-size:16px; font-weight:700; color:#ff9933;}
.sub4-span6 {margin-left:88px;}
.line-h {line-height:30px;}


/*서브5*/
.sub5-visual {width:100%; height:185px; background:url(../images/sub5-visual.png) no-repeat center center;}
.sub-mainbox2 {background:url(../images/sub-box02.png) no-repeat center center; width:183px; height:70px; text-align:center;}
.sub5-visual div {padding-top:58px; padding-left:508px;}
.sub-maintxt {font-size:38px; color:#fff; font-weight:700; text-shadow:1px 1px 1px #000; line-height:70px;}
.sub-topbar {width:100%; height:40px; border-bottom:1px solid #d1d1d1;}
.sub-top01 {width:180px; height:40px; border-right:1px solid #d1d1d1; font-size:14px; color:#666; text-align:center; line-height:40px; font-weight:700;}
.sub-main-cont {width:920px; height:100%; padding-left:20px; padding-right:20px;}
.sub-main-cont h2 {font-size:36px; color:#333; margin-top:23px; font-weight:700;}
.sub-main-cont h3 img {vertical-align:bottom; margin-left:-3px;}
.sub-main-cont h3 {margin-top:43px; margin-bottom:40px; font-size:20px; color:#333; font-weight:700;}


.sub5-list {border-top:1px solid #666; border-collapse: collapse;}
.sub5-list01 {height:40px;}
.sub5-list01 th {height:40px; border-bottom:1px solid #d1d1d1; text-align:center;}
.sub05-list02 td {height:40px; border-bottom:1px solid #d1d1d1;}
.sub5-txtcol {color:#cc3333;}
.center {text-align:center;}
.tdcol a {color:#666}
.sub5-tr01 {font-size:15px; color:#333; font-weight:700;}



/*서브6*/

.sub6-visual {width:100%; height:185px; background:url(../images/sub6-visual.png) no-repeat center center;}
.sub-mainbox2 {background:url(../images/sub-box02.png) no-repeat center center; width:183px; height:70px; text-align:center;}
.sub6-visual div {padding-top:58px; padding-left:508px;}
.sub-maintxt {font-size:38px; color:#fff; font-weight:700; text-shadow:1px 1px 1px #000; line-height:70px;}
.sub-topbar {width:100%; height:40px; border-bottom:1px solid #d1d1d1;}
.sub-top01 {width:180px; height:40px; border-right:1px solid #d1d1d1; font-size:14px; color:#666; text-align:center; line-height:40px; font-weight:700;}
.sub-main-cont {width:920px; height:100%; padding-left:20px; padding-right:20px;}
.sub-main-cont h2 {font-size:36px; color:#333; margin-top:23px; font-weight:700;}
.sub-main-cont h3 img {vertical-align:bottom; margin-left:-3px;}
.sub-main-cont h3 {margin-top:43px; margin-bottom:40px; font-size:20px; color:#333; font-weight:700;}
.sub6-img1 {width:280px;}
.sub6-imgtxt {width:280px;}
.sub6-imgt {padding-top:15px; font-size:16px; font-weight:700; color:#333; padding-bottom:15px;}
.sub6-imgt2 {font-size:14px; color:#666; line-height:18px; margin-bottom:15px;}
.sub6-link {width:134px; height:25px; text-align:center; line-height:25px; background:#ff6600; margin-left:146px;}
.sub6-link a {color:#fff;}



/*메뉴*/

.toggle {width:100%;}
.menu-toggle {width:100%; height:210px; background:#fff; position:absolute; z-index:50; display:none;}
.menu-tog {width:1200px; margin:0 auto;}
.menu-logo {width:300px; height:210px; background:url(../images/menu-logo.png) no-repeat center center;}
.menu-list {width:900px;}
.menu-list1 {width:150px; margin-top:10px; font-size:14px; text-align:center;}
.menu-list1 a {color:#666; transition:all 0.3s;}
.menu-list1 a:hover {font-weight:700; color:#333;}
.navi li a:hover {color:#7e9a51;}
.p-logo {font-size:20px; color:#fff; margin-top:70px; margin-left:55px; letter-spacing:1px;}
.h3-logo {margin-left:55px; margin-top:10px; font-weight:700; color:#fff; font-size:25px;}
.act {color:#7e9a51;}

.sub-menu-right ul li a {color:#666; transition:all 0.5s;}
.sub-menu-right ul li a:hover {color:#7e9a51; font-weight:700;}


/*bxslid*/
.bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:transparent;
    box-shadow:transparent;
    border:0 none;
    background:transparent;
}
.bx-wrapper {
    position: relative;
    margin-bottom:0px;
    padding: 0;
    *zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.bx-wrapper .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    
    vertical-align:top;
    
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
text-align: center;
width:100%;}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
bottom:0;}
.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-bottom: 90px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
border-radius:none;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
background: #fe9710;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {display:none;}
.bx-imgs {height:438px;}
.bx-wrapper {box-shadow: 0 0 0;}




/*포터*/
.footer {width:100%; height:180px; background:#666;}
.foot {font-weight:800; font-size:35px; color:#999; margin-left:20px; line-height:180px;}
.foot2 {padding-top:50px; margin-left:30px; font-size:14px; color:#999; line-height:25px;}
.foot2 a {color:#999;}
.footer-span {color:#999; margin-left:15px; margin-right:15px;}
