@charset "UTF-8";

/* 스킵 내비게이션 */
#skip{position: relative;}
#skip a{position: absolute; left: 0px; top: -35px; border: 1px solid #fff; color: #fff; background-color: #333; line-height: 30px; width: 160px; text-align: center;}
#skip a:active,#skip a:focus{top: 0px;}/*탭 메뉴를 눌러서 포커스가 맞을 때 top:0px자리 잡음*/

/* 레이아웃 */
#wrap{}
#header{width: 100%; height: 325px; background:url(../img/header_bg.jpg);background-repeat: repeat-x;background-position: center top; /*background:url() ceter top repeat-x;*/}
#contents{}
#footer{width: 100%;height: 200px;background-color: #333;}

/* 컨텐츠 레이아웃 */
#cont_nav{background-color: #f6fdff;}
#cont_tit{background-color: #eaf7fd;}
#cont_ban{background-color: #dceff7;}
#cont_cont{background-color:#f6fdff; }

/* 컨테이너(가운데 영역) */
.container{width: 990px; margin: 0 auto; height: inherit;}

/* 헤더 */
.header{}
.header .header_menu{text-align: right;}
.header .header_menu a{display: inline-block; color: #fff; padding: 10px 0px 10px 13px;}
.header .header_menu a:hover{color: #666;}

.header .header_tit {text-align: center;}
.header .header_tit h1{text-align: center; background-color: #4aa8d4;font-size: 28px; padding: 5px 10px 6px 20px; margin-top: 40px; display: inline-block; color: #fff; font-weight: normal; text-transform: uppercase;}
.header .header_tit a{display: inline-block; background-color: #2698cb; font-size: 18px; color: #fff; padding: 5px 20px 6px 20px; margin-top: -5px;}

.header .header_icon{text-align: center; margin-top: 30px;}
.header .header_icon a{display: inline-block; width: 60px; height: 60px;background:url(../img/icon.png); margin: 0 3px;}
.header .header_icon a.icon1{background-position: 0 0px;}
.header .header_icon a.icon2{background-position: 0 -60px;}
.header .header_icon a.icon3{background-position: 0 -120px;}
.header .header_icon a.icon4{background-position: 0px -180px;}
.header .header_icon a.icon1:hover{background-position: -60px 0px;}
.header .header_icon a.icon2:hover{background-position: -60px -60px;}
.header .header_icon a.icon3:hover{background-position: -60px -120px;}
.header .header_icon a.icon4:hover{background-position: -60px -180px;}


/*float: left;로 인한 영역 깨짐(height:0) 방지법
   1. 깨지는 영역에 똑같이 float:left를 사용한다.(X) -> 결론은 모든 박스에 float:left를 사용하게 된다.
   2. float의 성질을 차단하는 clear:both;를 사용한다(X) -> 어떤 영역이 개졌는지 찾기 어려움.
   3. float를 사용한 상위 박스한테 overflow:hidden을 사용한다 (0) -> 현재는 제일 많이 사용 단, 2단 메뉴를 쓸 때 사용 불가
   4. clearfix를 사용한다.(0) -> 가장 좋은 방법이며 2단 메뉴에도 사용 가능
*/

/* 전체메뉴 */
.nav{overflow: hidden; padding: 30px 0;}
.nav > div{/*nav 안의 div만 적용*/float: left; width: 40%;}
.nav > div:last-child{width: 20%;} /*IE9부터 사용 가능, .nav > div.last{width: 20%;} 모든 브라우저 사용가능*/
.nav > div h3{font-size: 18px; color: #25a2d0; margin-bottom: 4px;}
.nav > div ol{overflow: hidden;}
.nav > div ol li{float: left; width: 50%;}
.nav > div.last ol li{width: 100%;}
.nav > div ol li:hover{text-decoration: underline;}

/* 타이틀 - 몇글자 안되는 것은 이미지가 용량도 적게 듬 */
.tit{position: relative;}
.tit h2{text-align: center;font-family: 'Nanum Brush Script', cursive; font-size: 40px; padding: 5px 0; letter-spacing: 2px; color: #2c94c4;}
.tit .btn{position: absolute; top: 5px; right: 0; width: 60px; height: 60px; background: url(../img/icon.png); background-repeat: no-repeat; background-position: 0 -600px;}/*position값은 반응형할때 좋지 않음*/
.tit .btn:hover{filter: grayscale(0.5);}

/* 배너 영역 - 코드스테이츠*/
.ban{position: relative; padding: 34px 0 20px;}
.ban a.prev{position: absolute; left: -80px; top: 70px; width: 43px; height: 43px;background: url(../img/icon.png);background-repeat: no-repeat; background-position: -150px 0;}
.ban a.next{position: absolute; right: -80px; top: 70px; width: 43px; height: 43px; background: url(../img/icon.png); background-repeat: no-repeat; background-position: -150px -43px;}
.ban a.prev:hover{background-position: -193px 0;}
.ban a.next:hover{background-position: -193px -43px;}
.ban ul{overflow: hidden;}
.ban ul li{float: left; width: 330px;}
.ban ul li.ban_img1{text-align: left;}
.ban ul li.ban_img2{text-align: center;}
.ban ul li.ban_img3{text-align: right;}
.ban ul li img{border: 4px solid #dcdcdc;}
.ban ul li img:hover{border-color: #98ececec;}
/*.ban ul li:last-child{text-align: right;} IE9부터 적용*/
/*.ban ul li:nth-child(2){text-align: center;} IE9부터 적용*/

/* 컨텐츠 */
.cont{overflow: hidden; padding-top: 30px;}
.cont .column{width: 289px; height: 363px; float: left;margin: 0 30px 30px 0;padding-right: 30px;position: relative;}
.cont .col1{border-right: 1px solid #c8c8c8;}
.cont .col2{border-right: 1px solid #c8c8c8;}
.cont .col3{margin-right: 0; padding-right: 0;}
.cont .col4{border-right: 1px solid #c8c8c8;}
.cont .col5{border-right: 1px solid #c8c8c8;}
.cont .col6{margin-right: 0; padding-right: 0;}

.cont .column .ico_img{display: block; width: 60px; height: 60px; background: url(../img/icon.png); background-repeat: no-repeat;position: absolute; left: 0; top: 0;}
.cont .column .ico_tit{padding-left: 70px;font-size: 16px; color: #2c94c4;}
.cont .column .ico_desc{padding-left: 70px; padding-bottom: 15px; border-bottom: 1px solid #d0d0d0; margin-bottom: 15px;}

.cont .col1 .ico_img{background-position: 0px -240px;}
.cont .col2 .ico_img{background-position: 0px -300px;}
.cont .col3 .ico_img{background-position: 0px -360px;}
.cont .col4 .ico_img{background-position: 0px -420px;}
.cont .col5 .ico_img{background-position: 0px -480px;}
.cont .col6 .ico_img{background-position: 0px -540px;}
.cont .col1 .ico_img:hover{background-position: -60px -240px;}
.cont .col2 .ico_img:hover{background-position: -60px -300px;}
.cont .col3 .ico_img:hover{background-position: -60px -360px;}
.cont .col4 .ico_img:hover{background-position: -60px -420px;}
.cont .col5 .ico_img:hover{background-position: -60px -480px;}
.cont .col6 .ico_img:hover{background-position: -60px -540px;}

/* 게시판 */
.notice{position: relative;}
.notice h4{font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.notice ul{}
.notice ul li{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; /*한줄효과*/ background:url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px;}
.notice ul li a{font-size: 12px;}
.notice .more{position: absolute; right: 0; top: 0;display: block; background: url(../img/icon.png); background-repeat: no-repeat; background-position: -150px -90px; width: 17px; height: 17px;}

/* 게시판2 */
.notice2{position: relative; margin-top: 15px;}
.notice2 h4{font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.notice2 ul{}
.notice2 li{overflow: hidden;background:url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px;}
.notice2 li a{float: left; width: 65%;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice2 li span{float: right; width: 30%;}
.notice2 .more{position: absolute; right: 0; top: 0;display: block; background: url(../img/icon.png); background-repeat: no-repeat; background-position: -150px -90px; width: 17px; height: 17px;}

/* 게시판3 */
.notice3{position: relative; margin-top: 15px;}
.notice3 h4{font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.notice3 ul{}
.notice3 li{position: relative; padding: 8px 0 14px 60px;}
.notice3 li a{}
.notice3 li a img{width: 50px; height: 50px; position: absolute; left: 0; top: 0; border: 1px solid #0093bd;}
.notice3 li a strong{display: block;}
.notice3 li a span{display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice3 .more{position: absolute; right: 0; top: 0;display: block; background: url(../img/icon.png); background-repeat: no-repeat; background-position: -150px -90px; width: 17px; height: 17px}

/* 마우스 오버효과1 */
.notice_hover{}
.notice_hover h4{font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.notice_hover ul{overflow: hidden;}
.notice_hover li{float: left; width: 93px;margin-right: 5px; text-align: center;}
.notice_hover li.last{margin-right: 0px;}
.notice_hover li a{}
.notice_hover li a span{position: relative; display: block; width: 93px; height: 93px;}
.notice_hover li a span img{width: 100%;}
.notice_hover li a span em{visibility: hidden; position: absolute; left: 0; top: 0; background-color: rgba(0,0,0,0.7); color: #fff;width: 100%; height: 100%;line-height: 93px;}
.notice_hover li strong{padding-top: 3px; display: inline-block; font-size: 12px;}
.notice_hover li a span:hover em{visibility: visible;}
/*rgba IE9부터 적용가능*/


/* 마우스 오버효과2 */
.notice_hover2{margin-top: 10px;}
.notice_hover2 ul{overflow: hidden;}
.notice_hover2 li{width: 93px; float: left; margin-right: 5px; text-align: center;}
.notice_hover2 li.last{margin-right: 0px;}
.notice_hover2 li a{}
.notice_hover2 li a span{position: relative;display: block;}
.notice_hover2 li a span img{display: block;width: 100%; height: 93px;}
.notice_hover2 li a span em{visibility: hidden; display: block; width: 100%; position: absolute; bottom: 0; left: 0; background-color: rgba(0,0,0,0.7); color: #fff;}
.notice_hover2 li strong{padding-top: 3px; display: inline-block; font-size: 12px;}
.notice_hover2 li a span:hover em{visibility: visible;}



/* 콘텐츠 요소를 보이지 않게 하는 방법 
    1. display:none; -- display:block; 영역도 사라짐
    2. visibility:hidden; -- visibility:visibile; 영역 유지
    3. opacity:0; -- opacity:1; 영역 유지
    4. width: 0; height: 0; overflow:hidden;
*/

/* 탭 메뉴 */
.tab_menu{position: relative; border: 1px solid #ccc; padding: 8px; height: 105px;}
.tab_menu ul{overflow: hidden; border-bottom: 1px solid #ccc;}
.tab_menu ul li{float: left; border: 1px solid #ccc; margin-right: -1px;/*두줄 효과를 한줄로 보이게 할 때 활용*/margin-bottom: -1px;}
.tab_menu ul li a{display: block; padding: 5px 10px;}
.tab_menu ul li ul{position:absolute; left: 0; top: 48px; width: 270px; border: 0;}
.tab_menu ul li ul li{float: none; border: 0; background: url(../img/dot.gif) no-repeat 9px 8px; padding-left: 18px;}
.tab_menu ul li ul li a{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; padding: 0 0 3px 0;}

.tab_menu ul li.active{background-color: #2e94c4;}
.tab_menu ul li.active a{color: #fff;}
.tab_menu ul li.active ul li a{color: #333;}

/* 게시판4 */
.notice4{position: relative; border: 1px solid #ccc;}
.notice4 h4{border-bottom: 1px solid #ccc; padding: 8px 10px;font-size: 14px; color: #0093db; font-weight: 700;}
.notice4 h4 em{color: #cf3292;}
.notice4 ul{padding: 10px;}
.notice4 li{overflow: hidden; background:url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px; padding-bottom: 2px;}
.notice4 li a{float: left; width: 60%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice4 li span{float: right; width: 30%; text-align: right;}
.notice4 a.more{position: absolute; right: 9px; top: 9px;}


/* 갤러리 */

.gallery{border: 1px solid #ccc; height: 254px;position: relative; overflow: hidden;}
.gallery h4{font-size: 14px; color: #0093db; border-bottom: 1px solid #ccc; padding: 10px 0 8px 11px; font-weight: bold;}
.gallery .gallery_btn{position: absolute; right: 5px; top: 7px;}
.gallery .gallery_btn ul{overflow: hidden;}
.gallery .gallery_btn li{float: left; margin: 1px 2px;}
.gallery .gallery_btn li a{display: block; width: 23px; height: 23px; background: url(../img/icon.png) no-repeat;}
.gallery .gallery_btn li.gb_icon1 a{background-position: -150px -120px;}
.gallery .gallery_btn li.gb_icon2 a{background-position: -150px -143px;}
.gallery .gallery_btn li.gb_icon3 a{background-position: -150px -166px;}
.gallery .gallery_btn li.gb_icon4 a{background-position: -150px -189px;}
.gallery .gallery_btn li.gb_icon1 a:hover{background-position: -173px -120px;}
.gallery .gallery_btn li.gb_icon2 a:hover{background-position: -173px -143px;}
.gallery .gallery_btn li.gb_icon3 a:hover{background-position: -173px -166px;}
.gallery .gallery_btn li.gb_icon4 a:hover{background-position: -173px -189px;}
.gallery .gallery_img img{width: 100%;}











































